button,
.button {
  border-radius: 0%;
  border: 5px solid #fff;
  color: #fff;
  height: 45px;
  transition: all 500ms;
}
button:hover,
.button:hover {
  border: 5px solid #fff;
  background-color: #fff;
  color: rgb(51 195 240);
  transition: all 500ms;
}
button:visited,
button:active,
.button:visited,
.button:active {
  border: 5px solid #fff;
}

.nav {
  position: absolute;
  right: 0;
  margin-top: 10px;
}

.nav > .button {
  color: #fff;
}
.nav > .button:hover {
  color: rgb(51 195 240);
}

.welcome {
  background-color: rgb(51 195 240 / 100%);
  padding: 20px;
  margin-top: 25%;
}

@media (min-width: 550px) {
  .welcome {
    margin-left: 50px;
  }
}

.home-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(4, 92, 182, 1) 100%
  );

  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

.jobs-widget-page-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(4, 92, 182, 1) 100%
  );

  max-width: 100%;
  width: 100vw;
  height: 100vh;
}


#recruitee-careers .rt-theme-light.rt-body {  box-shadow: none !important;  border-radius: 0 !important;}



#recruitee-careers-details-container .rt-theme-light.rt-details__outer--popup .rt-details__inner, #recruitee-careers .rt-theme-light.rt-details__outer--popup .rt-details__inner {
  background: #72b2d8;
}

#recruitee-careers-details-container .rt-theme-light .rt-details__heading, #recruitee-careers .rt-theme-light .rt-details__heading {

  background: #0078d2;
}

#recruitee-careers-details-container .rt-details__inner {
  border-radius: 74px;
}